<div local-class="carousel">
  <button onclick={{action "previousItem"}}> &lt; </button>
  <div local-class="carousel-card">
    <div>{{customer.name}}</div>
    <div>{{customer.company}}</div>
    <div>{{customer.comment}}</div>
  </div>
  <button onclick={{action "nextItem"}}>&gt;</button>
</div>