<div local-class="blog">
  <div local-class="form-container">
    <p>Create a new blog post</p>
    <form action="" local-class="form-blog">
      {{input value=newBlogTitle placeholder="title" local-class="input"}}
      {{input value=newBlogBody placeholder="body" local-class="input"}}
      <button {{action "createBlogpost"}} local-class="button">Create</button>
    </form>
  </div>

  <div local-class="blog-list">
    {{#each model as |blog|}}
    {{!-- {{blog-card  deleteAction=(action "deleteBlogpost") blog=blog }} --}}
    <BlogCard  @deleteAction={{action "deleteBlogpost"}} @blog={{blog}} />
    {{/each}}
  </div>
</div>